In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
# data to be used -> UCI heart disease
# from the university of California
# data downloaded via https://github.com/sagnikghoshcr7/Heart-Disease-Prediction
# seems ok with the description from UCI -> https://archive.ics.uci.edu/dataset/45/heart+disease

In [3]:
dataset = pd.read_csv('heart.csv')
X = dataset.drop('target',axis=1)
y = dataset['target'].values
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.5,random_state=1)

In [6]:
# look if split looks okayish
print(X)
print(y)
print(X_train)
print(X_test)

count = np.sum(y_test == 1)
print("total number of instance in test: " + str(len(y_test)))
print(y_test)
print("total number of instance in test with class 1: "+str(count))

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0]
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
207   60    0   0       150   258    0        0      157      0      2.6
116   41    1   2       130   214    0        0      168      0      2.0
244   56    1   0       132   184    0        0      105      1      2.1
142   42    0   2       120   209    0        1      173      0      0.0
236   58    1   0       125   300    0        0      171      0      0.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
203   68    1   2       180   274    1        0      150      1      1.6
255   45    1   0       142   309    0        0      147      1      0.0
72    29    1   1       130   204    0        0      202      0      0.0
235   51    1   0       140   299    0        1      173      1      1.6
37    54    1   2       150   232    0        0      165      0      1.6

     slope  ca  thal
207      1   2     3
116      1   0     2
244      1   1     1
142      1   0     2
236      2   2     3
..     ...  ..   ...
203      1   0     3
255      1   3     3
72       2   0     2
235      2   0     3
37       2   0     3

[151 rows x 13 columns]
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
204   62    0   0       160   164    0        0      145      0      6.2
159   56    1   1       130   221    0        0      163      0      0.0
219   48    1   0       130   256    1        0      150      1      0.0
174   60    1   0       130   206    0        0      132      1      2.4
184   50    1   0       150   243    0        0      128      0      2.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
53    44    0   2       108   141    0        1      175      0      0.6
137   62    1   1       128   208    1        0      140      0      0.0
24    40    1   3       140   199    0        1      178      1      1.4
238   77    1   0       125   304    0        0      162      1      0.0
134   41    0   1       126   306    0        1      163      0      0.0

     slope  ca  thal
204      0   3     3
159      2   0     3
219      2   2     3
174      1   2     3
184      1   0     3
..     ...  ..   ...
53       1   0     2
137      2   0     2
24       2   0     3
238      2   3     2
134      2   0     2

[152 rows x 13 columns]
total number of instance in test: 152
[0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 1 0 1 0 1 0 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1
 0 0 1 1 0 1 0 0 0 0 1 0 1 1 0 0 1 1 1 1 0 0 0 1 1 1 1 0 1 1 0 1 0 1 1 0 1
 0 1 0 0 0 1 1 1 0 1 1 1 1 1 1 0 0 1 0 0 1 0 0 0 1 1 1 0 0 1 0 1 0 0 1 1 0
 0 1 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 1 0 0 1 1 1 1 1
 1 1 0 1]
total number of instance in test with class 1: 81

In [9]:
## train a ML model 
## for instance SVC and change parameters: C (float value), kernel (between 'linear','poly','rbf'), gamma (float value),
# class_weight (dictionnary that should pair classes with a float value), degree (integer)
## here is an example: model = SVC(C=1000000.0,kernel='linear',gamma=1524659461,class_weight={0:120.0, 1:0.000001})
from sklearn.svm import SVC
model = SVC(C=1000000.0,kernel='linear',gamma=1524659461,class_weight={0:120.0, 1:0.000001},degree=1)

model.fit(X_train,y_train)

SVC(C=1000000.0, class_weight={0: 120.0, 1: 1e-06}, degree=1, gamma=1524659461,
    kernel='linear')

In [10]:
y_pred = model.predict(X_test)

accuracy_score(y_test,y_pred)

0.6578947368421053

In [4]:
## train a ML model 
## decision trees and change parameters: criterion (between 'gini' and 'entropy'), splitter (between 'best' and 'random'
## , max_depth (int value), min_samples_split (int value), max_feature (int value or 'sqrt' or 'log2', default value is None and consider all features max)
## , class_weight (dictionnary that should pair classes with a float value)
# class_weight (dictionnary that should pair classes with a float value), degree (integer)
## here is an example: model = tree.DecisionTreeClassifier(criterion='gini',splitter='best',min_samples_split=150000,max_depth=150,max_features=12)
## here is another example: model = tree.DecisionTreeClassifier(criterion='gini',splitter='random',max_depth=150,max_features=None,class_weight={0:120.0, 1:0.000001})
from sklearn import tree
#clf = tree.DecisionTreeClassifier(criterion='gini',splitter='best',max_depth=150,max_features=12)
clf = tree.DecisionTreeClassifier(criterion='gini',splitter='best',min_samples_split=150000,max_depth=150,max_features=12)
clf.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=150, max_features=12, min_samples_split=150000)

In [5]:
y_pred_tree = clf.predict(X_test)

accuracy_score(y_test,y_pred_tree)

0.5328947368421053